# Server Configuration
PORT=3001
NODE_ENV=development

# Together AI Configuration
TOGETHERAI_API_KEY=
TOGETHERAI_MODEL_NAME=meta-llama/Llama-3.3-70B-Instruct-Turbo-Free

# Langsmith Configuration
LANGCHAIN_TRACING_V2=true
LANGCHAIN_CALLBACKS_BACKGROUND=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="sql-assistant"

# SQLite
SQLITE_DB_PATH_DEFAULT=data/cars.db

# Database Directory
SQLITE_DB_PATH_DEFAULT="/sqlite_data/cars.db"
DB_DIR_NAME="sqlite_data"
DB_NAME="cars.db"

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100


